@charset "utf-8";
/* CSS Document */
@keyframes OvkngOqy0CTv07ZqAIPdN {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes OvkngOqy0CTv07ZqAIPdN {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes OvkngOqy0CTv07ZqAIPdN {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes HXzLspOgTDH_bDTnSgSQd {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes HXzLspOgTDH_bDTnSgSQd {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes HXzLspOgTDH_bDTnSgSQd {
0% {
left:-76vw
}
100% {
left:0
}
}
._2WHHmyrJNsleSPqyK5918a {
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    font-family: "FF Mark W05", Arial, sans-serif;
    color: #f9f9f9
}
._2WHHmyrJNsleSPqyK5918a * {
    box-sizing: border-box
}
._2WHHmyrJNsleSPqyK5918a:lang(ar) {
    direction: rtl
}
._2WHHmyrJNsleSPqyK5918a:lang(ar) {
    font-family: "Cairo", Tahoma, sans-serif
}
._2WHHmyrJNsleSPqyK5918a:lang(ru), ._2WHHmyrJNsleSPqyK5918a:lang(vi), ._2WHHmyrJNsleSPqyK5918a:lang(vn), ._2WHHmyrJNsleSPqyK5918a:lang(el), ._2WHHmyrJNsleSPqyK5918a:lang(gr), ._2WHHmyrJNsleSPqyK5918a:lang(th) {
    font-family: "Neue Frutiger World", Tahoma, sans-serif
}
._2WHHmyrJNsleSPqyK5918a:lang(ko), ._2WHHmyrJNsleSPqyK5918a:lang(kr) {
    font-family: "RixSGo", Tahoma, sans-serif
}
._3AYbzClUxsU2maVqIee5X {
    background-color: #111;
    padding: 0px 0px 48px 0px;
    border-top: 2px solid #343434
}
._3AYbzClUxsU2maVqIee5X a._2b3IoYzyfOKJTNJrPVGK9E {
    font-weight: bold
}
._3aMN1Pvgv0oz7m1Goc3609 {
    border-top: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) 100%)
}

@keyframes _1imkJ0DYYBzjZJvzc5iLhh {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _1imkJ0DYYBzjZJvzc5iLhh {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _1imkJ0DYYBzjZJvzc5iLhh {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _16AXZ5QJGuVuBLus_-IVgi {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _16AXZ5QJGuVuBLus_-IVgi {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _16AXZ5QJGuVuBLus_-IVgi {
0% {
left:-76vw
}
100% {
left:0
}
}
._29my_mPdIV9jPVioVH_jGd {
    user-select: none;
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    background: #292929;
    padding: 24px;
    margin: 0;
    color: #7e7e7e;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase
}
._29my_mPdIV9jPVioVH_jGd * {
    box-sizing: border-box
}
._29my_mPdIV9jPVioVH_jGd:lang(ar) {
    font-family: "Cairo", Tahoma, sans-serif
}
._29my_mPdIV9jPVioVH_jGd:lang(ru), ._29my_mPdIV9jPVioVH_jGd:lang(vi), ._29my_mPdIV9jPVioVH_jGd:lang(vn), ._29my_mPdIV9jPVioVH_jGd:lang(el), ._29my_mPdIV9jPVioVH_jGd:lang(gr), ._29my_mPdIV9jPVioVH_jGd:lang(th) {
    font-family: "Neue Frutiger World", Tahoma, sans-serif
}
._29my_mPdIV9jPVioVH_jGd:lang(ko), ._29my_mPdIV9jPVioVH_jGd:lang(kr) {
    font-family: "RixSGo", Tahoma, sans-serif
}
._29my_mPdIV9jPVioVH_jGd:lang(ar) {
    font-family: Tahoma, sans-serif;
    letter-spacing: 0
}
._29my_mPdIV9jPVioVH_jGd ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

@media(max-width: 1024px) {
._29my_mPdIV9jPVioVH_jGd ul {
    flex-direction: column
}
}

@media(max-width: 1024px) {
._29my_mPdIV9jPVioVH_jGd ul li {
    margin: 12px 0
}
}
._29my_mPdIV9jPVioVH_jGd ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear
}
._29my_mPdIV9jPVioVH_jGd ul li a:hover, ._29my_mPdIV9jPVioVH_jGd ul li a:active, ._29my_mPdIV9jPVioVH_jGd ul li a:focus {
    background: rgba(128,128,128,.3);
    border-radius: 6.4px
}
._29rmz3K2ZqEOGHexiNGGsl {
    background: transparent
}

@keyframes _1ZSUBbrjg5N-SwYJTAVKtK {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _1ZSUBbrjg5N-SwYJTAVKtK {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _1ZSUBbrjg5N-SwYJTAVKtK {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _2ay4H-NngyECH2Tfbgq1iQ {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _2ay4H-NngyECH2Tfbgq1iQ {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _2ay4H-NngyECH2Tfbgq1iQ {
0% {
left:-76vw
}
100% {
left:0
}
}
._1y5wMFtMhfOQOwUmHI92Cj {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 24px 0px 20px
}
._2Pgrt3koXCPng_hCKD8v8s a svg {
    fill: #737373
}
._2Pgrt3koXCPng_hCKD8v8s a svg:hover, ._2Pgrt3koXCPng_hCKD8v8s a svg:focus {
    fill: #f9f9f9
}
._3li6ccqc4XDHGfNlvjqugt a svg {
    fill: #f9f9f9
}
._2130dY8F9cjIeCdDGsWgRA {
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 20px
}
._2130dY8F9cjIeCdDGsWgRA * {
    box-sizing: border-box
}
._2130dY8F9cjIeCdDGsWgRA a svg {
    fill: #737373
}
._2130dY8F9cjIeCdDGsWgRA a svg:hover, ._2130dY8F9cjIeCdDGsWgRA a svg:focus {
    fill: #f9f9f9
}
._2130dY8F9cjIeCdDGsWgRA a img {
    opacity: .4
}
._2130dY8F9cjIeCdDGsWgRA a img:hover, ._2130dY8F9cjIeCdDGsWgRA a img:focus {
    opacity: 1
}

@keyframes _10RT-fi2ywBeFvylrwrKXJ {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _10RT-fi2ywBeFvylrwrKXJ {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _10RT-fi2ywBeFvylrwrKXJ {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _1soH7LVuYjdaVOrwefg_WA {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _1soH7LVuYjdaVOrwefg_WA {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _1soH7LVuYjdaVOrwefg_WA {
0% {
left:-76vw
}
100% {
left:0
}
}
._3tOmEyMTDQ_ETh9CuxsqLK {
    user-select: none;
    box-sizing: border-box;
    padding: 18px 0;
    user-select: none;
    box-sizing: border-box
}
._3tOmEyMTDQ_ETh9CuxsqLK * {
    box-sizing: border-box
}
._3tOmEyMTDQ_ETh9CuxsqLK ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

@media(max-width: 1024px) {
._3tOmEyMTDQ_ETh9CuxsqLK ul {
    flex-wrap: wrap
}
}
._3tOmEyMTDQ_ETh9CuxsqLK ul li {
    margin: 6px;
    background: rgba(128,128,128,.2);
    border-radius: 12px;
    width: 32px;
    height: 32px
}

@media(max-width: 1024px) {
._3tOmEyMTDQ_ETh9CuxsqLK ul li {
    width: 48px;
    height: 48px
}
}
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    height: 100%
}

@media(max-width: 1024px) {
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g {
    margin: 12px;
    height: auto
}
}
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g .qYdzzVvsALoZ6Jcs-tLLk {
    opacity: 0;
    user-select: none;
    color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 0;
    white-space: nowrap
}
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g:hover, ._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g:active, ._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g:focus {
    opacity: 1
}
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g svg {
    width: 16px;
    height: 16px;
    fill: #f9f9f9;
    fill-rule: evenodd
}

@media(max-width: 1024px) {
._3tOmEyMTDQ_ETh9CuxsqLK ul li a._3YN2W34Ia8MMkttsKrAc5g svg {
    width: 24px;
    height: 24px
}
}

@keyframes _26gRLr7RpT6AlShTDP4JqW {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _26gRLr7RpT6AlShTDP4JqW {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _26gRLr7RpT6AlShTDP4JqW {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _2kGks-uUHDTn4owz7tNzLf {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _2kGks-uUHDTn4owz7tNzLf {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _2kGks-uUHDTn4owz7tNzLf {
0% {
left:-76vw
}
100% {
left:0
}
}
._2MQBVXoMNHaA5jCv6-rKyc {
    font-family: "FF Mark W05", Arial, sans-serif;
    margin: 0 auto;
    max-width: 640px;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e
}
._2MQBVXoMNHaA5jCv6-rKyc:lang(ar) {
    font-family: "Cairo", Tahoma, sans-serif
}
._2MQBVXoMNHaA5jCv6-rKyc:lang(ru), ._2MQBVXoMNHaA5jCv6-rKyc:lang(vi), ._2MQBVXoMNHaA5jCv6-rKyc:lang(vn), ._2MQBVXoMNHaA5jCv6-rKyc:lang(el), ._2MQBVXoMNHaA5jCv6-rKyc:lang(gr), ._2MQBVXoMNHaA5jCv6-rKyc:lang(th) {
    font-family: "Neue Frutiger World", Tahoma, sans-serif
}
._2MQBVXoMNHaA5jCv6-rKyc:lang(ko), ._2MQBVXoMNHaA5jCv6-rKyc:lang(kr) {
    font-family: "RixSGo", Tahoma, sans-serif
}

@media(max-width: 640px) {
._2MQBVXoMNHaA5jCv6-rKyc {
    max-width: 368px
}
}
._2MQBVXoMNHaA5jCv6-rKyc a {
    color: #7e7e7e;
    text-decoration: underline
}
._2MQBVXoMNHaA5jCv6-rKyc a:hover, ._2MQBVXoMNHaA5jCv6-rKyc a:active, ._2MQBVXoMNHaA5jCv6-rKyc a:focus {
    color: #7e7e7e
}
._2MQBVXoMNHaA5jCv6-rKyc p.sqwC2nnXdkGzh_DTJl_2O {
    margin: 0px auto
}
.zFO11oYC4TH7DuO1rJ7mN {
    color: #f9f9f9
}

@keyframes _1tonSWiVULkHJ1hRuouhbb {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _1tonSWiVULkHJ1hRuouhbb {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _1tonSWiVULkHJ1hRuouhbb {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _3AvRr-3afDp0qSmSMnSA7r {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _3AvRr-3afDp0qSmSMnSA7r {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _3AvRr-3afDp0qSmSMnSA7r {
0% {
left:-76vw
}
100% {
left:0
}
}
._2Ojj9KgtyZTHH-I2MkvQqi {
    user-select: none;
    box-sizing: border-box;
    font-family: "FF Mark W05", Arial, sans-serif;
    padding: 24px 0px 28px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase
}
._2Ojj9KgtyZTHH-I2MkvQqi * {
    box-sizing: border-box
}
._2Ojj9KgtyZTHH-I2MkvQqi:lang(ar) {
    font-family: "Cairo", Tahoma, sans-serif
}
._2Ojj9KgtyZTHH-I2MkvQqi:lang(ru), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(vi), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(vn), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(el), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(gr), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(th) {
    font-family: "Neue Frutiger World", Tahoma, sans-serif
}
._2Ojj9KgtyZTHH-I2MkvQqi:lang(ko), ._2Ojj9KgtyZTHH-I2MkvQqi:lang(kr) {
    font-family: "RixSGo", Tahoma, sans-serif
}
._2Ojj9KgtyZTHH-I2MkvQqi:lang(ar) {
    font-family: Tahoma, sans-serif;
    letter-spacing: 0
}
._2Ojj9KgtyZTHH-I2MkvQqi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

@media(max-width: 1024px) {
._2Ojj9KgtyZTHH-I2MkvQqi ul {
    flex-direction: column
}
}

@media(max-width: 1024px) {
._2Ojj9KgtyZTHH-I2MkvQqi ul li {
    margin: 12px 0
}
._2Ojj9KgtyZTHH-I2MkvQqi ul li:first-child {
    margin-top: 0
}
._2Ojj9KgtyZTHH-I2MkvQqi ul li:last-child {
    margin-bottom: 0
}
}
._2Ojj9KgtyZTHH-I2MkvQqi ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .2s linear
}
._2Ojj9KgtyZTHH-I2MkvQqi ul li a:hover, ._2Ojj9KgtyZTHH-I2MkvQqi ul li a:active, ._2Ojj9KgtyZTHH-I2MkvQqi ul li a:focus {
    background: rgba(128,128,128,.3);
    border-radius: 6.4px
}

@keyframes _3vFEieyXk6cFf95dKA538d {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes _3vFEieyXk6cFf95dKA538d {
0% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes _3vFEieyXk6cFf95dKA538d {
0% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes _2ewo1YqvPIKFFlaxNLb4DQ {
0% {
left:-76vw
}
100% {
left:0
}
}
@-moz-keyframes _2ewo1YqvPIKFFlaxNLb4DQ {
0% {
left:-76vw
}
100% {
left:0
}
}
@-webkit-keyframes _2ewo1YqvPIKFFlaxNLb4DQ {
0% {
left:-76vw
}
100% {
left:0
}
}
._1BiwNWzqtOdFM9Aefa2YbM {
    user-select: none;
    box-sizing: border-box;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
._1BiwNWzqtOdFM9Aefa2YbM * {
    box-sizing: border-box
}
._1BiwNWzqtOdFM9Aefa2YbM ._2nq5cqD9DXcJxtSaQ3I_nK {
    max-width: 100%;
    padding: 8px 12px;
    background: #292929;
    border-radius: 8px
}
._1BiwNWzqtOdFM9Aefa2YbM ._3D_hnYS4CHKsqOwdJ6r1yh {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}
._1BiwNWzqtOdFM9Aefa2YbM .o6-G7b-VAzGZ_yBQ9iIXE {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    margin: 4px 0;
    max-width: 100%
}
._1BiwNWzqtOdFM9Aefa2YbM .o6-G7b-VAzGZ_yBQ9iIXE img {
    display: block;
    max-width: 100%
}
._1BiwNWzqtOdFM9Aefa2YbM .o6-G7b-VAzGZ_yBQ9iIXE ._2CPso75bDYKgqcwW-qa0CZ {
    opacity: 0;
    user-select: none;
    color: transparent;
    text-decoration: none
}
._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ {
    display: inline-block;
    text-align: left;
    color: #efefef;
    margin-left: 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
    font-family: "FF Mark W05", Arial, sans-serif
}
._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(ar) {
    font-family: "Cairo", Tahoma, sans-serif
}
._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(ru), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(vi), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(vn), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(el), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(gr), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(th) {
    font-family: "Neue Frutiger World", Tahoma, sans-serif
}
._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(ko), ._1BiwNWzqtOdFM9Aefa2YbM ._2whETlN2IthWQVWlE9pIeQ:lang(kr) {
    font-family: "RixSGo", Tahoma, sans-serif
}
